$font-family-roboto: 'Roboto', Arial, Tahoma, sans-serif;
$font-family-akrobat: 'Akrobat', Arial, Tahoma, sans-serif;

$body-background: #0D104A;
$footer-background: #0D104A;
$footer-bottom-background: #0A0C34;
$footer-bottom-color: rgba(255, 255, 255, 0.32);
$title-color: #F7F7F8;
$title-dark-color: #0A0C2F;
$text-white-color: rgba(255, 255, 255, 0.8);
$border-normal-white-color: rgba(255, 255, 255, 0.2);
$border-hover-white-color: #fff;
$border-normal-black-color: rgba(0, 0, 0, 0.2);
$nav-auth-white-color: rgba(255, 255, 255, 0.7);

$blue: #1DDBF3;
$semi-transparent-white: rgba(255, 255, 255, 0.12);
$semi-transparent-black: rgba(0, 0, 0, 0.12);

$transition-slow: all 0.25s ease-in-out;
$transition-fast: all 0.18s ease-in-out;

$black: #000;
$white: #fff;
$green: #81D100;
$light-green: #87d30d;
$red: #CA482A;
$grey: #ededed;

$content-grey: #F5F5F5;
$content-white: #fff;
$body-grey: #EFEFEF;
$border-grey: #E2E2E2;
$checkbox-grey: #DDDDDD;
$note-grey: #AFAFAF;
$header-black: #383838;
$header-arrow-black: #424242;
$direct-arrow-back: #F7F7F7;
$sub-top-menu-grey: #9a9a9a;

$hover-box-shadow: 0px 0px 15px rgba(0,0,0,0.17);
